<li><a href ="{{ site.scenario_settings }}" class="otherLinkColour">Scenario Settings</a>
    <ul>    
        <li><a href ="{{ site.scenario_settings }}how-to-set-parameters.html" class="otherLinkColour">如何设置DBR参数</a></li>
        <li><a href ="{{ site.scenario_settings }}barcode-format-and-expected-barcode-counts.html" class="otherLinkColour">如何设置DBR的要处理码型和期待解码数量</a></li>
        <li><a href ="{{ site.scenario_settings }}read-from-diff-source.html" class="otherLinkColour">如何读取不同来源的图像</a></li>
        <li><a href ="{{ site.scenario_settings }}multipage-imgs-and-pdf.html" class="otherLinkColour">如何如何处理多页图片和PDF</a></li>
        <li><a href ="{{ site.scenario_settings }}manually-define-region-of-interest.html" class="otherLinkColour">如何手动配置兴趣区</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-use-region-predetection.html" class="otherLinkColour">如何自动检测兴趣区</a></li>
        <li><a href ="{{ site.scenario_settings }}texture-detection.html" class="otherLinkColour">如何处理图像纹理</a></li>
        <li><a href ="{{ site.scenario_settings }}text-filter.html" class="otherLinkColour">如何过滤图像文字</a></li>
        <li><a href ="{{ site.scenario_settings }}image-preprocessing.html" class="otherLinkColour">如何针对场景特点进行图像预处理</a></li>
        <li><a href ="{{ site.scenario_settings }}dpm-decoding.html" class="otherLinkColour">如何处理DPM</a></li>
        <li><a href ="{{ site.scenario_settings }}resist-deformation.html" class="otherLinkColour">如何处理码区变形</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-scaleup-modes.html" class="otherLinkColour">如何放大低分辨率码区</a></li>
        <li><a href ="{{ site.scenario_settings }}recognise-accompanying-text.html" class="otherLinkColour">如何识别伴随文本</a></li>
        <li><a href ="{{ site.scenario_settings }}terminate.html" class="otherLinkColour">如何控制DBR提前退出终止</a></li>
        <li><a href ="{{ site.scenario_settings }}intermediate-result.html" class="otherLinkColour">如何获取和使用中间结果</a></li>
        <li><a href ="{{ site.scenario_settings }}format-specification.html" class="otherLinkColour">特定码型的配置参数</a></li>
        <li><a href ="{{ site.scenario_settings }}deblur-level.html" class="otherLinkColour">采样解码的尝试等级</a></li>
        <li><a href ="{{ site.scenario_settings }}decode-result.html" class="otherLinkColour">如何过滤和排序解码结果</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-barcode-complememt-modes.html" class="otherLinkColour">如何补全码区缺失</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-binarization-modes.html" class="otherLinkColour">如何调整二值化参数</a></li>
        <li><a href ="{{ site.scenario_settings }}how-to-set-localization-modes.html" class="otherLinkColour">如何使用不同的定位模式来获得最优的码区定位结果</a></li>
        <li><a href ="{{ site.scenario_settings }}image-scale-and-colour-conversion.html" class="otherLinkColour">如何设置图像缩放和颜色变换</a></li>
    </ul>
</li>