<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->
        <rule name="webp" stopProcessing="true">
          <match url="(.+)\.(jpe?g|png)$" />
          <serverVariables>
          </serverVariables>
          <action type="Rewrite" url="{R:1}.webp" />
          <conditions>
              <add input="{HTTP_ACCEPT}" pattern="image/webp" />
              <add input="{DOCUMENT_ROOT}/web-twain/docs/{R:1}.webp" matchType="IsFile" />
          </conditions>
        </rule>
        
        <rule name="Redirect rule30 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/troubleshooting/common-errors/activating-the-WebTwain-instance.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/indepth/faqs/troubleshooting/activating-the-WebTwain-instance-prompt-doesnt-disappear.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect /indepth/faqs/distribution/How-to-set-the-MIME-type.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/distribution/How-to-set-the-MIME-type.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/indepth/deployment/server.html#make-sure-the-static-files-can-be-served-correctly" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
        
        <rule name="Redirect rule59 - https://www.dynamsoft.com/web-twain/docs/about/faqs.html" enabled="true" patternSyntax="ECMAScript">
          <match url="about/faqs.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/indepth/faqs/?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect https://www.dynamsoft.com/web-twain/docs/faq/how-to-enable-remote-scan.html" enabled="true" patternSyntax="ECMAScript">
          <match url="faq/how-to-enable-remote-scan.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/remote-scan/docs/introduction/" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect getstarted/hardware.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/hardware.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/about/hardware.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect indepth/deployment/server.html " enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/deployment/server.html " ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/getstarted/server.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
