<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->
        
         <rule name="Redirect rule30 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
           <match url="indepth/troubleshooting/common-errors/activating-the-WebTwain-instance.html" ignoreCase="true" negate="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/indepth/faqs/troubleshooting/activating-the-WebTwain-instance-prompt-doesnt-disappear.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
         </rule>

         <rule name="Redirect rule32 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
           <match url="indepth/faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-94.html" ignoreCase="true" negate="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
         </rule>   

         <rule name="Redirect rule33 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
           <match url="indepth/faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-v94.html" ignoreCase="true" negate="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
         </rule>  
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
