<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->
        
        <rule name="Redirect rule30 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/troubleshooting/common-errors/activating-the-WebTwain-instance.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/indepth/faqs/troubleshooting/activating-the-WebTwain-instance-prompt-doesnt-disappear.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule32 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-94.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>   

        <rule name="Redirect rule33 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-v94.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>  

        <rule name="Redirect rule34 for redirect hipaa-compliant" enabled="true" patternSyntax="ECMAScript">
          <match url="faq/hippa-compliant.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/hipaa-compliant.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule35 for redirect Error message" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/license/the-current-product-key-does-not-match-the-domain.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/error-message-domain-of-site-doesnt-match-domain-bound-to-product-key.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule36 - Can I install Dynamsoft Service silently?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/can-i-install-dynamsoft-service-silently.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/can-i-install-dynamsoft-service-silently.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule37 - How to uninstall Dynamsoft Service?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/how-to-uninstall-dynamic-web-twain.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-uninstall-dynamsoft-service.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule38 - How can I change the certificate of the Dynamsoft Service?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/how-to-change-the-certificate-of-the-dynamsoft-service.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/change-dynamsoft-service-certificate.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule39 - I have installed the Dynamsoft Service on an end-user machine but still got asked to install it repeatedly" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/distribution/why-is-the-browser-prompting-me-to-install-dynamsoft-service-repeatedly.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/service-prompting-to-install-repeatedly.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule40 - What are the differences between TWAIN and WIA?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/What-are-the-differences-between-TWAIN-and-WIA.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/difference-between-Twain-and-wia.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule41 - Download virtual scanner for testing" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/Download-virtual-scanner-for-testing.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/download-virtual-scanner-for-testing.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule42 - How to use TWACKER to check if your device is TWAIN Compliant?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-use-TWACKER-to-check-if-your-device-is-TWAIN-Compliant.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-use-TWACKER-to-check-if-your-device-is-TWAIN-Compliant.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule43 - How to test if your scanner supports ICA scanning on Mac OS?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-test-if-your-scanner-supports-ICA-scanning-on-Mac-OS.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-test-if-your-scanner-supports-ICA-scanning-on-Mac-OS.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule44 - How to test if your device is SANE compliant?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-test-if-your-device-is-SANE-compliant.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-test-if-your-device-is-SANE-compliant.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule45 - How to test if your camera is DirectShow compliant?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-test-if-your-camera-is-DirectShow-compliant.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-test-if-your-camera-is-DirectShow-compliant.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule46 - How to test if your camera is MediaDevices compliant?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-test-if-your-camera-is-MediaDevices-compliant.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/how-to-test-if-your-camera-is-MediaDevices-compliant.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule47 - General troubleshooting steps" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/troubleshooting/How-to-enable-and-collect-verbose-log.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/general-troubleshooting-steps.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule48 - Do you support image deskew?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/How-to-automatically-deskew-an-image.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/support-image-deskew.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule49 - How can I insert an image after a selected image in the viewer?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/How-to-insert-images-to-a-specified-index.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/insert-image-after-selected-image.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule50 - How can I change the reference path to the Dynamsoft resources in my project?" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/develop/How-to-change-the-location-or-to-rename-the-Resources-folder-with-Dynamic-Web-TWAIN.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/change-reference-path.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule51 - General failure" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/general-failure.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/general-failure.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule52 - HTTP request error" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/HTTP-request-error.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/HTTP-request-error.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule53 - HTTP process error" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/HTTP-process-error.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/HTTP-process-error.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule54 - Only 24-bit true color bmp and 8-bit gray-scaled images are supported for JPEG compression" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/JPEG-compression.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/JPEG-compression.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule55 - XMLHttpRequest cannot load XXX" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/XMLHttpRequest-cannot-load.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/XMLHttpRequest-cannot-load.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule56 - Source is connected to the maximum supported number of applications" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/source-connected-to-maximum.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/source-connected-to-maximum.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule57 - Sequence error" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/Sequence-error.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/sequence-error.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect rule58 - Request header field dwt-md5 is not allowed by Access-Control-Allow-Headers in preflight response" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/errorlist/dwt-md5-is-not-allowed.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/dwt-md5-is-not-allowed.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
