<style>
    #cp-header .action-buttons { display: none; }
    #mdHeader { border-bottom: 0!important; }
    #sideBarCnt.sidebar-fixed { position: fixed; top: 88px; max-height: unset; }
    .rightSideMenu.rsm-fixed { position: fixed; top: 100px; }
    #docHead { top: 151px; }
    .productMenu .downloadBtn:hover { color: #ffffff!important; }
    @media (max-width: 1679px){
      #docHead {
        top: 145px;
      }
    }
</style>

<div id="WebTwain" class="main">
  <div id="WebTwainMenu" class="productMenu">
      <div class="container pcProductMenu">
          <div class="row">
              <div class="col-xs-12">
                  <ul class="menuList">
                      <li class="title">
                          <a class="orangeLink" href="https://www.dynamsoft.com/web-twain/overview">Dynamic Web TWAIN</a>
                      </li>
                      <li class="item overview">
                          <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/overview">Overview</a>
                      </li>
                      <li class="item features">
                          <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/features">Features</a>
                      </li>
                      <li class="item addons">
                          <span class="showMenuMore textUpperCase">Add-ons <i class="icon-orange-angle"></i></span>
                          <ul class="ct-more" style="display: none;"><i></i>
                              <li class="item">
                                  <a class="webcam" href="https://www.dynamsoft.com/web-twain/features/mobile-web-capture-sdk/">Mobile Web Capture</a>
                              </li>
                              <li class="item">
                                  <a class="pdf" href="https://www.dynamsoft.com/web-twain/pdf-to-image-javascript">PDF Rasterizer</a>
                              </li>
                              <li class="item">
                                  <a class="barcode" href="https://www.dynamsoft.com/web-twain/barcode-recognition-document">Barcode Recognition</a>
                              </li>
                          </ul>
                      </li>
                      <li class="item resources on">
                          <span class="showMenuMore textUpperCase">Dev Center <i class="icon-orange-angle"></i></span>
                          <ul class="ct-more" style="display: none;">
                              <i></i>
                              <li class="item">
                                  <a class="documentation" href="https://www.dynamsoft.com/web-twain/docs/about/index.html">Documentation</a>
                              </li>
                              <li class="item">
                                  <a class="code-gallery" href="https://www.dynamsoft.com/web-twain/resources/code-gallery">Code Gallery</a>
                              </li>
                              <li class="item">
                                  <a class="release" href="https://www.dynamsoft.com/web-twain/docs/info/schedule/stable.html">Release Notes</a>
                              </li>
                              <li class="item">
                                  <a class="all-resources f16 mt20 orangeLink" href="https://www.dynamsoft.com/web-twain/resources" onclick="return returnOrGo()">See All Resources<span> &gt;</span></a>
                              </li>
                          </ul>
                      </li>
                      <li class="item buy">
                          <a class="textUpperCase" href="https://www.dynamsoft.com/store/dynamic-web-twain">Buy</a>
                      </li>
                  </ul>
                  <a href="https://www.dynamsoft.com/web-twain/downloads" class="downloadBtn fr textUpperCase">Download Free Trial</a>
              </div>
          </div>
      </div>
      <div class="container mobileProductMenu">
          <div class="row">
              <div class="col-xs-12">
                  <div class="productLogo"><i class="dwt-white-logo"></i> <i class="icon-orange-angle"></i></div>
                  <div id="dwtCurrentPage" class="fontOswald fr currentPage">Dev Center</div>
              </div>
          </div>
      </div>
      <div class="mobileProductDetailMenu">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <ul class="menuList">
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/overview">Overview</a>
                          </li>
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/features">Features</a>
                          </li>
                          <li class="item">
                              <span class="showMenuMore textUpperCase">Add-ons <i class="icon-orange-angle"></i></span>
                              <ul class="ct-more" style="display: none;">
                                  <li class="item">
                                      <a href="https://www.dynamsoft.com/web-twain/features/mobile-web-capture-sdk/">Mobile Web Capture</a>
                                  </li>
                                  <li class="item">
                                      <a href="https://www.dynamsoft.com/web-twain/pdf-to-image-javascript/">PDF Rasterizer</a>
                                  </li>
                                  <li class="item">
                                      <a href="https://www.dynamsoft.com/web-twain/barcode-recognition-document/">Barcode Recognition</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="item">
                              <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/resources/">Resources</a>
                          </li>
                          <li class="item">
                              <a id="DWTBuyBtn" class="textUpperCase" href="https://www.dynamsoft.com/store/dynamic-web-twain/">Buy</a>
                          </li>
                          <li class="item">
                              <a class="orangeLink textUpperCase" href="https://www.dynamsoft.com/web-twain/downloads/">Download Free Trial</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

