<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}" />
    <meta name="title" content="{{page.title}}" />
    <script type="application/ld+json">
	{"@type":"WebPage","description":"user guide layout.","@context":"https://schema.org"}</script>
    <script type="text/javascript" src="{{site.assets}}js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="{{site.assets}}js/index-banner.js"></script>
    <link rel="stylesheet" href="{{site.assets}}css/style.css">
    <link rel="stylesheet" href="{{site.assets}}css/basis.css">
</head>