<span class="fullVersionHistory">
  <ul class="fullVersionInfo">
    <li onclick="changeVersion(this)">Latest Version</li>
    <li onclick="changeVersion(this)">Version 18.0</li>
    <li onclick="changeVersion(this)">Version 17.3</li>
    <li onclick="changeVersion(this)">Version 17.2.1</li>
    <li onclick="changeVersion(this)">Version 17.1.1</li>
    <li onclick="changeVersion(this)">Version 17.0</li>
    <li onclick="changeVersion(this)">Version 16.2</li>
    <li onclick="changeVersion(this)">Version 16.1.1</li>
  </ul>
  <a class="fvChange fontOswald" href="javascript:;">Change +</a>
</span>
