<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect rule32 troubleshooting" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-94.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule33 How-to-resolve" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/troubleshooting/How-to-resolve-if-Dynamic-Web-TWAIN-stops-working-on-insecure-websites-in-Chrome-v94.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/http-insecure-websites-in-chromium-browser.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule35 for redirect Error message" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/license/the-current-product-key-does-not-match-the-domain.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/error-message-domain-of-site-doesnt-match-domain-bound-to-product-key.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule38 - How can I change the certificate of the Dynamsoft Service?" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/develop/how-to-change-the-certificate-of-the-dynamsoft-service.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/change-dynamsoft-service-certificate.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule39 - I have installed the Dynamsoft Service on an end-user machine but still got asked to install it repeatedly" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/distribution/why-is-the-browser-prompting-me-to-install-dynamsoft-service-repeatedly.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/service-prompting-to-install-repeatedly.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule40 - What are the differences between TWAIN and WIA?" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/troubleshooting/What-are-the-differences-between-TWAIN-and-WIA.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/difference-between-Twain-and-wia.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule47 - General troubleshooting steps" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/troubleshooting/How-to-enable-and-collect-verbose-log.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/general-troubleshooting-steps.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule48 - Do you support image deskew?" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/develop/How-to-automatically-deskew-an-image.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/support-image-deskew.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
                <rule name="Redirect rule49 - How can I insert an image after a selected image in the viewer?" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="faqs/develop/How-to-insert-images-to-a-specified-index.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/insert-image-after-selected-image.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>

                <rule name="Redirect rule50 - How can I change the reference path to the Dynamsoft resources in my project?" enabled="true" patternSyntax="ECMAScript">
                    <match url="faqs/develop/How-to-change-the-location-or-to-rename-the-Resources-folder-with-Dynamic-Web-TWAIN.html" ignoreCase="true" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/change-reference-path.html" appendQueryString="false" logRewrittenUrl="false" />
                </rule>

                <rule name="Redirect indepth faq pages" stopProcessing="true">
                    <match url="faqs/(.*)/(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{DOCUMENT_ROOT}\web-twain\docs\faq\{R:2}" matchType="IsFile" />
					</conditions>
					<action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq/{R:2}" />
                </rule>

                <rule name="Redirect indepth faq pages 2" stopProcessing="true">
                    <match url="faqs/(.*)" />
					<action type="Redirect" url="https://www.dynamsoft.com/web-twain/docs/faq" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
