<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect indepth faq pages" stopProcessing="true">
                    <match url="faqs/(.*)/(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{DOCUMENT_ROOT}\web-twain\docs\faq\{R:2}" matchType="IsFile" />
					</conditions>
					<action type="Redirect" url="https://officecn.dynamsoft.com:808/web-twain/docs/faq/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
