<li><a href="{{ site.introduction }}comparison-tools/" class="otherLinkColour">Comparison Tools</a>
    <ul>
        <li><a href="{{ site.introduction }}comparison-tools/batch-test.html" class="otherLinkColour">Batch Test</a></li>
        <li><a href="{{ site.introduction }}comparison-tools/interactive-test.html" class="otherLinkColour">Interactive Test</a></li>
        <li><a href="{{ site.introduction }}comparison-tools/test-set-images.html" class="otherLinkColour">Test Set Images</a></li>
    </ul>
</li>