<li><a href="{{ site.indepth }}deployment/" class="otherLinkColour">Deployment</a>
  <ul>
    {%- if page.url contains '/indepth/deployment/' -%}
    <li><a href="{{ site.indepth }}deployment/server.html" class="otherLinkColour">Server Setup</a></li>
    <li><a href="{{ site.indepth }}deployment/service.html" class="otherLinkColour">Service Setup</a></li>
    <!--<li><a href="{{ site.indepth }}deployment/scenarios.html" class="otherLinkColour">Scenarios</a></li>-->
    {%- endif -%}
  </ul>
</li>