<li><a href="{{ site.indepth }}development/" class="otherLinkColour">Development</a>
  <ul>
    {%- if page.url contains '/indepth/development/' -%}
    <li><a href="{{site.indepth}}development/angular.html" class="otherLinkColour">Angular Integration</a></li>
    <li><a href="{{site.indepth}}development/react.html" class="otherLinkColour">React Integration</a></li>
    <li><a href="{{site.indepth}}development/vue.html" class="otherLinkColour">Vue Integration</a></li>
    <!--<li><a href="{{site.indepth}}development/mvc.html" class="otherLinkColour">MVC Integration</a></li> -->
    <li><a href="{{site.indepth}}development/Server-script.html" class="otherLinkColour">Server-side Scripting</a></li>
    <li><a href="{{site.indepth}}development/Pro-service.html" class="otherLinkColour">Professional Service</a></li>
    <li><a href="{{site.indepth}}development/upgrade.html" class="otherLinkColour">Upgrade Guide</a></li>
    <li><a href="{{site.indepth}}development/activex.html" class="otherLinkColour">About ActiveX</a></li>
    <li><a href="{{site.indepth}}development/topics.html" class="otherLinkColour">Other Topics</a></li>
    {%- endif -%}
  </ul>
</li>