<li><a href="{{ site.indepth }}faqs/" class="otherLinkColour">FAQs</a>
  <ul>
    {%- if page.url contains '/indepth/faqs/' -%}
    <li><a href="{{site.indepth}}faqs/general/index.html" class="otherLinkColour">General</a></li>
    <li><a href="{{site.indepth}}faqs/license/index.html" class="otherLinkColour">License and Purchase</a></li> 
    <li><a href="{{site.indepth}}faqs/develop/index.html" class="otherLinkColour">Development</a></li>
    <li><a href="{{site.indepth}}faqs/distribution/index.html" class="otherLinkColour">Distribution and Deployment</a></li> 
    <li><a href="{{site.indepth}}faqs/troubleshooting/index.html" class="otherLinkColour">Troubleshooting for end-users</a></li> 
    <li><a href="{{site.indepth}}faqs/errorlist/index.html" class="otherLinkColour">Error List</a></li>  
    {%- endif -%}
  </ul>
</li>
