<li><a href="{{ site.indepth }}features/" class="otherLinkColour">Features</a>
  <ul>
    {%- if page.url contains '/indepth/features/' -%}
    <li><a href="{{ site.indepth }}features/initialize.html" class="otherLinkColour">Initialize</a></li>
    <li><a href="{{ site.indepth }}features/input.html" class="otherLinkColour">Input</a></li>
    <li><a href="{{ site.indepth }}features/output.html" class="otherLinkColour">Output</a></li>
    <li><a href="{{ site.indepth }}features/buffer.html" class="otherLinkColour">Buffer</a></li>
    <li><a href="{{ site.indepth }}features/viewer.html" class="otherLinkColour">Viewer</a></li>
    <li><a href="{{ site.indepth }}features/ui.html" class="otherLinkColour">UI</a></li>
    <li><a href="{{ site.indepth }}features/edit.html" class="otherLinkColour">Edit</a></li>
    <li><a href="{{ site.indepth }}features/barcode.html" class="otherLinkColour">Barcode</a></li>
    <li><a href="{{ site.indepth }}features/OCR.html" class="otherLinkColour">OCR</a></li>
    <li><a href="{{ site.indepth }}features/pdf.html" class="otherLinkColour">PDF</a></li>
    {%- endif -%}
  </ul>
</li>