<li><a href="{{ site.indepth }}troubleshooting/" class="otherLinkColour">Troubleshooting</a>
  <ul>
    {%- if page.url contains '/indepth/troubleshooting/' -%}
    <li><a href="{{ site.indepth }}troubleshooting/debug.html" class="otherLinkColour">How to Debug</a></li>
    <li><a href="{{ site.indepth }}troubleshooting/license-errors/index.html" class="otherLinkColour">License Errors</a>
      <ul>
        <li><a href="{{ site.indepth }}troubleshooting/license-errors/invalid-key.html" class="otherLinkColour">Invalid License</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/license-errors/Domain-does-not-match.html" class="otherLinkColour">Domain Doesn't Match</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/license-errors/key-expired.html" class="otherLinkColour">License Expired</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/license-errors/OCR-lic-exceeded.html" class="otherLinkColour">OCR License Exceeded</a></li>
      </ul>
    </li> 
    <li><a href="{{ site.indepth }}troubleshooting/common-errors/index.html" class="otherLinkColour">Common Errors</a>
       <ul>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/general-failure.html" class="otherLinkColour">General failure</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/connection-couldn't-be-established.html" class="otherLinkColour">Connection Couldn't Be Established</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/HTTP-process-error.html" class="otherLinkColour">HTTP Process Error</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/HTTP-request-error.html" class="otherLinkColour">HTTP Request Error</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/JPEG-compression.html" class="otherLinkColour">JPEG Compression</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/XMLHttpRequest-cannot-load.html" class="otherLinkColour">XMLHttpRequest Cannot Load</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/source-connected-to-maximum.html" class="otherLinkColour">Source Connected To Maximum</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/sequence-error.html" class="otherLinkColour">Sequence Error</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/dwt-md5-is-not-allowed.html" class="otherLinkColour">dwt-md5 Is Not Allowed</a></li>
        <li><a href="{{ site.indepth }}troubleshooting/common-errors/activating-the-WebTwain-instance.html" class="otherLinkColour">Activating the WebTwain instance</a></li>
      </ul>
    </li>
    {%- endif -%}
  </ul>
</li>
