<li><a href="{{ site.faq }}" class="otherLinkColour">FAQ</a>
    <ul>
      {%- if page.url contains '/faq/' -%}
      <li><a href="{{ site.faq }}#sdk-downloadfree-trial" class="otherLinkColour">SDK Download/Free Trial</a></li>
      <li><a href="{{ site.faq }}#captureimage-source" class="otherLinkColour">Capture/Image Source</a></li>
      <li><a href="{{ site.faq }}#image-viewer" class="otherLinkColour">Image Viewer</a></li>
      <li><a href="{{ site.faq }}#image-editing" class="otherLinkColour">Image Editing</a></li>
      <li><a href="{{ site.faq }}#ui-customization" class="otherLinkColour">UI Customization</a></li>
      <li><a href="{{ site.faq }}#document-saving" class="otherLinkColour">Document Saving</a></li>
      <li><a href="{{ site.faq }}#security" class="otherLinkColour">Security</a></li>
      <li><a href="{{ site.faq }}#addon" class="otherLinkColour">Addon</a></li>
      <li><a href="{{ site.faq }}#project-deployment-and-end-user-installation" class="otherLinkColour">Project Deployment and End-user Installation</a></li>
      <li><a href="{{ site.faq }}#error-troubleshooting" class="otherLinkColour">Error Troubleshooting</a></li>
      <li><a href="{{ site.faq }}#licensing-and-purchase" class="otherLinkColour">Licensing and Purchase</a></li>
      {%- endif -%}
    </ul>
  </li>