<li><a href="{{site.info}}api/" class="otherLinkColour">API Reference</a>
  <ul>
      {%- if page.url contains '/api/' -%}
      <li><a href="{{site.info}}api/Dynamsoft_WebTwainEnv.html" class="otherLinkColour">Dynamsoft_WebTwainEnv</a></li>
      <li><a href="{{site.info}}api/Dynamsoft_Enum.html" class="otherLinkColour">Dynamsoft_Enum</a></li>
      <li><a href="{{site.info}}api/WebTwain_Acquire.html" class="otherLinkColour">WebTwain_Acquire</a></li>
      <li><a href="{{site.info}}api/WebTwain_Buffer.html" class="otherLinkColour">WebTwain_Buffer</a></li>
      <li><a href="{{site.info}}api/WebTwain_Viewer.html" class="otherLinkColour">WebTwain_Viewer</a></li>
      <li><a href="{{site.info}}api/WebTwain_Edit.html" class="otherLinkColour">WebTwain_Edit</a></li>
      <li><a href="{{site.info}}api/WebTwain_IO.html" class="otherLinkColour">WebTwain_IO</a></li>
      <li><a href="{{site.info}}api/WebTwain_Util.html" class="otherLinkColour">WebTwain_Util</a></li>
      <li><a href="{{site.info}}api/Addon_BarcodeReader.html" class="otherLinkColour">Addon_BarcodeReader</a></li>
      <li><a href="{{site.info}}api/Addon_Camera.html" class="otherLinkColour">Addon_Camera</a></li>
      <li><a href="{{site.info}}api/Addon_OCR.html" class="otherLinkColour">Addon_OCR</a></li>
      <li><a href="{{site.info}}api/Addon_OCRPro.html" class="otherLinkColour">Addon_OCRPro</a></li>
      <li><a href="{{site.info}}api/Addon_PDF.html" class="otherLinkColour">Addon_PDF</a></li>
      <li><a href="{{site.info}}api/Addon_Webcam.html" class="otherLinkColour">Addon_Webcam</a></li>
      <li><a href="{{site.info}}api/Dynamsoft_FileUploader.html" class="otherLinkColour">Dynamsoft_FileUploader</a></li>
      {%- endif -%}
  </ul>
</li>