<li><a href="{{site.info}}schedule/" class="otherLinkColour">Schedule</a>
  <ul>
    {%- if page.url contains '/schedule/' -%}
    <li><a href="{{site.info}}schedule/stable.html" class="otherLinkColour">Stable</a></li>
    <li><a href="{{site.info}}schedule/beta.html" class="otherLinkColour">Beta</a></li>
    <li><a href="{{site.info}}schedule/Developing.html" class="otherLinkColour">Developing</a></li>
    <li><a href="{{site.info}}schedule/proposed.html" class="otherLinkColour">Proposed</a></li>
    <li><a href="{{site.info}}schedule/ideas.html" class="otherLinkColour">To Consider</a></li>
    <li><a href="{{site.info}}schedule/deprecated.html" class="otherLinkColour">Deprecated</a></li>
    <li><a href="{{site.info}}schedule/Addon.html" class="otherLinkColour">Addon</a></li>
    <!--<li><a href="{{site.info}}schedule/bugs.html" class="otherLinkColour">Known bugs</a></li>-->
    {%- endif -%}
  </ul>
</li>