<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <div class="wrapper">
        <div class="sideBar">
            <ul class="mainPage" id="fullTreeMenuListContainer" name="listLevel1">
                <li><a href="{{site.introduction}}" class="otherLinkColour">Introduction</a>
                    {%- if page.url contains '/introduction/' -%}
                    <ul>
                        <li><a href="{{site.introduction}}overview.html" class="otherLinkColour">Overview</a></li>
                        <li><a href="{{site.introduction}}architecture.html" class="otherLinkColour">Architecture</a>
                        </li>
                        <li><a href="{{site.introduction}}security-features.html" class="otherLinkColour">Security
                                Features</a></li>
                        <li><a href="{{site.introduction}}licensing/" class="otherLinkColour">License & Usage
                                Tracking</a></li>
                        {%- include sidelist-introduction/introduction-comparison-tools.html -%}
                        {%- include sidelist-introduction/introduction-how-to-guides.html -%}
                        <li><a href="{{site.faqs}}" class="otherLinkColour">FAQs</a></li>
                    </ul>
                    {%- endif -%}
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="head">
                <div>
                    <div style="float:right">
                        {% capture sourceCodeUrl %}
                        {% if page.url contains '.html' %}
                        {{page.url | strip | replace: '.html', '.md'}}
                        {% else %}
                        {{page.url	| strip}}index.md
                        {% endif %}
                        {% endcapture %}
                        <a href="{{site.repositoryUrl}}{{sourceCodeUrl | strip}}" class="otherLinkColour">Edit
                            <img src="{{site.edit_icon}}" alt="editIcon" width="20px" height="15px" />
                        </a>
                    </div>
                    <div style="float:left">
                        <div id="crumbs">
                            <ul>
                                {%- include liquid_breadcrumb.html -%}
                            </ul>
                        </div>
                        {%- comment -%}
                        {%- include liquid_autoGenerateHistoryList.html -%}
                        {%- endcomment -%}
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="content markdown-body headCounter">
                    {{content}}
                    <hr />
                    <div class="footer">
                        <p>Is this page helpful? <a href="#">Yes</a> <a href="#">No</a></p>
                        <p>© 2020 Dynamsoft Corporation. All rights reserved.</p>
                        <p>Sales: <a href="mailto:sales@dynamsoft.com">sales@dynamsoft.com</a> Support: <a
                                href="mailto:support@dynamsoft.com">support@dynamsoft.com</a></p>
                        <p>Live Chat: <a
                                href="http://www.dynamsoft.com/Support/LiveHelp.aspx">http://www.dynamsoft.com/Support/LiveHelp.aspx</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="history list">
        <div class="container">
            <div class="col-xs-12">
                {%- include liquid_autoGenerateHistoryList.html -%}
                {%- include version-list.html -%}
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        {%- include page_footer.html -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

    {%- if page.needAutoGenerateSidebar -%}
    <script>
        FullTreeMenuList(true);
    </script>
    {%- else -%}
    <script>
        FullTreeMenuList(false);
    </script>
    {%- endif -%}
</body>

</html>